<h1>Feed Details</h1>

<dl>
  <dt>title</dt>
  <dd><%= @feed.title %></dd>
  <dt>url</dt>
  <dd><%= @feed.url %></dd>
  <dt>feed url</dt>
  <dd><%= @feed.feed_url %> </dd>
  <dt>etag</dt>
  <dd><%= @feed.etag %></dd>
  <dt>Last modified on:</dt>
  <dd><%= time_ago_in_words @feed.last_modified %> ago</dd>
</dl>
